<h1>Gerenciar Publicações</h1>
<br>
<a href="index.php?p=admin&method=create" style="color: blue;">
  <i class="fas fa-plus"></i> Criar Publicação
</a>
<br>
<br>

<table border="2">
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Editar</th>
    <th>Excluir</th>
  </tr>
  
  {% for post in postagens %}
    <tr>
      <td>{{post.id}}</td>
      <td>{{post.titulo}}</td>
      <td><a href="index.php?p=admin&method=alterar&id={{post.id}}">
        <i class="fas fa-edit"></i></a>
      </td>
      <td><a href="index.php?p=admin&method=excluir&id={{post.id}}">
        <i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
  {% else %}
    <td colspan="4">Nenhuma publicação cadastrada</td>
  {% endfor %}
</table>
