:root {
  --COR-AZUL: rgb(74, 74, 220);
  --COR-CINZA: #333;
  --COR-CINZA-CLARO: rgba(0,0,0,0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  background-color: darkblue;
  background-image: linear-gradient(to bottom, rgb(0, 0, 70), darkblue, darkblue);
  background-repeat: no-repeat;
  color: white;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--COR-CINZA);
}

a:last-child {
  float: right;
}

nav a {
  font-size: 20px;
  padding-right: 24px;
}

/* a:hover { */
a:not(.logo):hover {
  text-decoration: underline;
  color: var(--COR-CINZA);
}

header.topo {
  width: 100%;
  position: fixed;
  top: 0;
}

i {
  font-size: 24px;
  color: orangered;
}

div.menu {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
  /* box-shadow: 0px 8px 0px -5px var(--COR-CINZA-CLARO); */
  border-bottom: 5px solid var(--COR-CINZA-CLARO);
  padding: 20px 24px;
  height: 68px;
}

.menu a {
  letter-spacing: 1px;
}

main.corpo {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--COR-CINZA);
  padding: 32px;
  padding-top: 68px;
}

h1 {
  font-size: 22px;
  margin-top: 30px;
  color: var(--COR-AZUL);
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  line-height: 1.5;
  color: var(--COR-CINZA);
}

header h2 {
  margin-bottom: 10px;
}

h3, h4 {
  color: var(--COR-CINZA);
}

article {
  margin: 20px 0;
}

article p {
  font-size: 16px;
}

article small {
  color: var(--COR-AZUL);
}

.divider {
  border-top: 1px solid var(--COR-CINZA-CLARO);
  padding: 8px 0;
}

table, th, td {
  border: 1px solid;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 12px;
}
th {
  background-color: navy;
  color: white;
}
tr:hover {
  background-color: #eee;
}

form {
  display: block;

}

.form-control {
  margin: 20px 0;
}

label {
  display: block;
}

input, textarea {
  border: 1px solid var(--COR-CINZA-CLARO); 
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

textarea {
  resize: vertical;
}

input:focus, textarea:focus {
  outline: none;
  border-width: 2px;
}

input[type="submit"] {
  max-width: 140px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--COR-AZUL);
  color: #fff;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  filter: brightness(1.2);
}
